{% extends "starboardscanner_app/base.html" %}
{% block starboardscanner_dashboard %}
  <!-- Page Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="mt-5">StarboardScanner Web UI</h1>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                 <div class="container">
                     <div class="row">
                         <div>
                             <div class="col-sm">
                                 <h2 class="mt-5">Settings</h2>
                             </div>
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    {% for field in form_input %}
                                        <div class="fieldWrapper">
                                            <div class="form-group">
                                            {{ field.errors }}
                                            {{ field.label_tag }} {{ field }}
                                            {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                            {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <input name="execute_job_btn" type="submit" value="Submit">
                                </form>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="col-xs-6">

                <div class="col-md">
                    <h2 class="mt-5">Log</h2>
                </div>
                <div>
                </div>
                    <form action="#" method="post">
                        {% csrf_token %}
                        {{ form_logID }}
                        <input name="request_log_btn" type="submit" value="Request log">
                    </form>
                </div>

                </div>
                <div>
                    <h3>Report {{ report.id }} created on {{ report.date_created }}</h3>
                    <ul>amount_of_nodes {{report.amount_of_nodes}}</ul>
                    <ul>start_ip {{report.start_ip}}</ul>
                    <ul>end_ip {{report.end_ip}}</ul>
                    <ul>start_port {{report.start_port}}</ul>
                    <ul>end_port {{report.end_port}}</ul>
                    <ul>scan_type {{report.scan_type}}</ul>
                    <ul>scan_order {{report.scan_order}}</ul>
                    <ul>execution_time {{report.execution_time}}</ul>
                    <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">IP:PORT</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">CREATED BY</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in report.records.all %}
                        <tr>
                            <td>{{ record.ip_port }}</td>
                            <td>{{ record.status }}</td>
                            <td>{{ record.created_by }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock starboardscanner_dashboard %}