{% extends "starboardscanner_app/base.html" %}
{% block starboardscanner_dashboard %}
  <!-- Page Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="mt-5">StarboardScanner Web UI</h1>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                 <div class="container">
                     <div class="row">
                         <div>
                             <div class="col-sm">
                                 <h2 class="mt-5">Settings</h2>
                             </div>
                             <div>
                                 <form action="#" method="get">
                                     <div class="form-group">
                                         <label for="amountOfNodes">Amount of scanning nodes</label>
                                         <input type="text" class="form-control" id="amountOfNodes" placeholder="3">
                                     </div>
                                     <div class="form-group">
                                         <label for="startIP">Start IP</label>
                                         <input type="text" class="form-control" id="startIP" placeholder="1.2.3.4">
                                     </div>
                                     <div class="form-group">
                                         <label for="endIP">End IP</label>
                                         <input type="text" class="form-control" id="endIP" placeholder="1.2.3.255">
                                     </div>
                                     <div class="form-group">
                                         <label for="startPort">Start Port</label>
                                         <input type="text" class="form-control" id="startPort" placeholder="0">
                                     </div>
                                     <div class="form-group">
                                         <label for="endPort">End Port</label>
                                         <input type="text" class="form-control" id="endPort" placeholder="65353">
                                     </div>
                                     <div class="form-group">
                                         <label for="exampleFormControlSelect1">Scan type</label>
                                         <select class="form-control" id="scanType">
                                             <option>Is-Alive</option>
                                             <option>Full TCP connect</option>
                                             <option>TCP SYN</option>
                                             <option>TCP FIN</option>
                                         </select>
                                     </div>
                                     <div class="form-group">
                                         <label for="exampleFormControlSelect1">Order</label>
                                         <select class="form-control" id="scanOrder">
                                           <option>Sequential</option>
                                           <option>Random</option>
                                         </select>
                                     </div>
                                     <button type="submit" value="Click" id="submit_job_btn" class="mt-2 btn btn-primary">Store Job</button>
                                 </form>
                             </div>
                             <div class="mt-4 row">
                                 <button type="button" class="btn btn-success">Execute Job</button>
                                 <button type="button" class="btn btn-danger">Stop Job</button>
                                 <button type="button" class="btn btn-warning">Restart Job</button>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="col-xs-6">

                <div class="col-md">
                    <h2 class="mt-5">Log</h2>
                </div>
                <div>
{#                    <h1>List of Reports</h1>#}
{#                    <table border="1" width="600">#}
{#                    <tr>#}
{#                        <td>IP:PORT</td>#}
{#                        <td>STATUS</td>#}
{#                        <td>Video File</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                    <td>{{ report.name }}</td>#}
{#                    <td>#}
{#                    {{ video.description }}</td>#}
{#                    <td><video width='400' controls>#}
{#                    <source src='{{ MEDIA_URL }}{{ video.videofile }}' type='video/mp4'>#}
{#                    Your browser does not support the video tag.#}
{#                    </video>#}
{#                    </td>#}
{#                    </tr>#}
{#                    </table>#}
                    <b>Report created on{{ report.date_created }}</b><br />
                    {% for record in report.records.all %}
                        {{ record.ip_port }}:{{ record.status }}<br />
                     {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock starboardscanner_dashboard %}