{% extends "starboardscanner_app/base.html" %}
{% block starboardscanner_dashboard %}
  <!-- Page Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="mt-5">StarboardScanner Web UI</h1>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                 <div class="container">
                     <div class="row">
                         <div>
                             <div>
                                 <h3 class="mt-5">Settings</h3>
                             </div>
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    {% for field in form_input %}
                                        <div class="fieldWrapper">
                                            <div class="form-group">
                                            {{ field.errors }}
                                            {{ field.label_tag }} {{ field }}
                                            {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                            {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <input name="execute_job_btn" type="submit" value="Submit">
                                </form>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="col-xs-6">
                <div class="container">
                     <div class="row">
                         <div>
                             <div>
                            <h3 class="mt-5">Log</h3>
                        </div>
                        <div>
                            <form action="#" method="post">
                            {% csrf_token %}
                                {{ form_logID }}
                            <input name="request_log_btn" type="submit" value="Request log">
                            </form>
                        </div>
                         </div>
                     </div>
                </div>
                  <div>
                    <h3 class="mt-5">Report {{ report.id }} created on {{ report.date_created }}</h3>
                    <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">NUMBER OF NODES</th>
                            <th scope="col">START_IP</th>
                            <th scope="col">END_IP</th>
                            <th scope="col">START_PORT</th>
                            <th scope="col">END_PORT</th>
                            <th scope="col">SCAN_TYPE</th>
                            <th scope="col">SCAN_ORDER</th>
                            <th scope="col">EXECUTION_TIME</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                             <td>{{report.amount_of_nodes}}</td>
                             <td>{{report.start_ip}}</td>
                             <td> {{report.end_ip}}</td>
                             <td>{{report.start_port}}</td>
                             <td>{{report.end_port}}</td>
                             <td>{{report.scan_type}}</td>
                             <td>{{report.scan_order}}</td>
                             <td>{{report.execution_time}}</td>
                        </tr>
                    </tbody>
                    </table>


                    <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">IP:PORT</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">CREATED BY</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in report.records.all %}
                        <tr>
                            <td>{{ record.ip_port }}</td>
                            <td>{{ record.status }}</td>
                            <td>{{ record.created_by }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    </table>
                </div>
        </div>
    </div>
{% endblock starboardscanner_dashboard %}